<section class="about">
  <p>
    AppStars is the company that built this awesome app!
  </p>
  <hr>
    <h3>Contact us</h3>
    <form class="" action="index.html" method="post">
      <input type="text" name="name" value="" placeholder="Enter Name">
      <input type="text" name="name" value="" placeholder="Enter Email">
      <textarea name="name" rows="8" cols="40" placeholder="Message"></textarea>
    </form>

</section>
