<section id="basket">
  <ul id="baksetitems">
      <label>Carrots</label>
      <span class="price">$12.99</span>
  </ul>
  <div class="baskettotalprice">
    <label>TOTAL:</label>
    <span class="totalprice">$12.99</span>
  </div>
  <button id="scheduledelivery">Schedule Delivery</button>
</section>
