
<section id="restock">
  <h3>Items to Restock</h3>
<ul id="restocklist">

  <% @items_to_refresh.each do |item| %>
  <li class="restockitem">

    <form action="" method="post">

      <label><%= item[:food] %></label>

      <label><%= item[:age] %> Days</label>

      <input class="addbutton" name="add" type="submit" value="add">

    </form>
  </li>
  <% end %>
</ul>
</section>

<section id="pendingdeliveries">
  <h3>Pending Deliveries</h3>
<ul id="pendingdeliverieslist">
  <% @pending_deliveries.each do |delivery| %>
  <li class="pendingdeliveriesitem">

    <label><%= delivery.date %></label>

    <label>Evening</label>

    <button class="viewbutton">View</button>

  </li>
  <% end %>
</ul>
</section>
