
<section id="restock">
<ul id="restocklist">
  <li class="restockitem">

    <form action="" method="post">

      <label for="addbutton1">Food Item Name</label>

      <label for="addbutton1">22 Days</label>

      <input id="addbutton1" name="add" type="submit" value="add">

    </form>
  </li>
</ul>
</section>

<section id="pendingdeliveries">
<ul id="pendingdeliverieslist">
  <li class="pendingdeliveriesitem">

    <label for="viewbutton1">8/17</label>

    <label for="viewbutton1">Evening</label>

    <button id="viewbutton1">View</button>

  </li>
</ul>
</section>
