<section class="schedulesuccess">
  <p>
    Delivery scheduled for <%= @delivery_date %> in the <%= @delivery_time %>
  </p>
  <p>
    Thank you for your order!
  </p>
  <div class="buttonwrap">
    <button class="returnhome">Return Home</button>
</div>
</section>
