

<section id="login">

<h1>Logo Here</h1>

<div id="loginform">
  <input type="text" name="email_address" placeholder="Email Address" value="">
  <input type="password" name="password" placeholder="Password" value="">

  <button id="signin">Sign In!</button>
  <button id="signup">Sign Up!</button>
 <span class="error"><%= @message %></span>
</div>

<div id="shareicons">
  <a id="facebook" href="https://www.facebook.com">
  <a id="twitter" href="https://www.twiter.com">
  <a href="google+" href="https://plus.google.com">
</div>

</section>
