

<section>

<h1>Logo Here</h1>

<div id="loginform">
  <input type="text" name="email_address" placeholder="email address" value="">
  <input type="password" name="password" placeholder="password" value="">

  <button id="signin">Sign In!</button>
  <button id="signup">Sign Up!</button>

</div>

<div id="shareicons">
  <a id="facebook" href="https://www.facebook.com">
  <a id="twitter" href="https://www.twiter.com">
  <a href="google+" href="https://plus.google.com">
</div>

</section>
