

<section id="login">

<h1>Logo Here</h1>

<div id="loginform">
  <input type="text" name="email_address" placeholder="Email Address" value="">
  <input type="password" name="password" placeholder="Password" value="">

  <button id="signin">Sign In!</button>
  <button id="signup">Sign Up!</button>
  <span class="signinmessage"></span>
  <span class="signupmessage"></span>
</div>

<div id="shareicons">
  <a id="facebook" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
  <a id="twitter" href="https://www.twiter.com"><i class="fa fa-twitter"></i></a>
  <a href="google+" href="https://plus.google.com"><i class="fa fa-google-plus"></i></a>
</div>

</section>
