

<section id="login">
  <div class="loginwrapper">
    <div id="loginform">
      <img src='/images/logo_aisletou large.png'>
      <input type="text" name="email_address" placeholder="Email Address" value="">
      <input type="password" name="password" placeholder="Password" value="">

    <div class="loginbuttons clearfix">
      <button id="signin">Sign In!</button>
      <button id="signup">Sign Up!</button>
    </div>
    <div class="signinmessage"></div>
    <div class="signupmessage"></div>
    </div>

    <div id="shareicons">
     <div class="sharewrap">
      <a id="facebook" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
    </div>
     <div class="sharewrap">
      <a id="twitter" href="https://www.twiter.com"><i class="fa fa-twitter"></i></a>
    </div>
     <div class="sharewrap">
      <a href="google+" href="https://plus.google.com"><i class="fa fa-google-plus"></i></a>
    </div>
    </div>
  </div>
</section>
