<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"> <!-- Character encoding for the HTML document. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Tells Internet Explorer it should use the latest, or edge, version of the IE rendering environment. -->

    <title>Aisle Tou</title>
    <meta name="description" content=""><!-- Description, often used as 'snippet' by search engines. -->

    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Will make sure your site scales properly for mobile http://goo.gl/teFgfK-->

    <!-- <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" /> -->

    <link rel="stylesheet" href="/styles/normalize.css"> <!-- Normalize.css makes browsers render all elements more consistently and in line with modern standards http://goo.gl/2trj5P-->

    <link rel="stylesheet" href="/styles/skeleton.css"> <!-- Include Skeleton.css for grid responsive Css layout -->

    <link rel="stylesheet" href="/font-awesome-4.4.0/scss/font-awesome.css"> <!-- font awesome for icons -->

    <link rel="stylesheet" href="/styles/styles.css"> <!-- site-specific css file -->

    <script src="/scripts/jquery.js" type="text/javascript"></script>
    <script src="/scripts/app.js" type="text/javascript"></script>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>
      <h1></h1>
    </header>
    <section class="basketcount">
      <p>Current basket: <button data-userid=<%= session[:current_user_id] %> ></button> items</p>
    </section>
    <section id="container">
      <%= yield %>
    </section>
    <footer>
      <nav>
        <a href="/"><i class="fa fa-home"></i><p>Home</p></a>
        <a href="/shop"><i class="fa fa-shopping-cart"></i><p>Shop</p></a>
        <a href="/delivery"><i class="fa fa-calendar"></i><p>Calendar</p></a>
        <a href="/about"><i class="fa fa-info-circle"></i><p>About</p></a>
        <a href="/users/signout"><i class="fa fa-sign-out"></i><p>Sign Out</p></a>
      </nav>
    </footer>
</body>
</html>
