<section id="delivery">
  <article class="basketsummary">
    <div id="leftsummary">
      <div class="summaryordertotal">
        Order total: <%= @basket_total_price %>
      </div>
      <div class="summaryitemcount">
        Item Count: <%= @basket_item_count %>
      </div>
    </div>
    <div id="rightsummary">
      <button id="editbasket">Edit</button>
    </div>
    <!-- put a line right here in CSS - bottom border for .basketsummary -->
  </article>

  <article class="calendar">
    <label for="calendardate">Date:</label>
    <input id="calendardate" type="date" name="delivery_date" placeholde="Choose Delivery Date">
    <input type="button" name="time_of_day" value="morning">
    <input type="button" name="time_of_day" value="afternoon">
    <input type="button" name="time_of_day" value="evening">
    <input type="submit" id="savedelivery" value="Save">
    <button id="canceldelivery">Cancel</button>
  </article>
</section>
