
<section id="shopping">

   <ul id="shoppinglist">

      <% @foods.each do |food| %>

     <li class="shoppinglistitem">
       <label><%= food[:category] %></label>
       <span class="expand">+</span>
       <ul class="fooditemlist">
         <% food[:foods].each do |foodItem| %>

         <li class="fooditem">
           <label><%= foodItem[:name] %></label>
           <label><%= foodItem[:price] %></label>
           <span class="additem">add to basket &gt;</span>
         </li>
        <% end %>
       </ul>
     </li>
     <% end %>
   </ul>
</section>
