
<section id="shopping">

   <ul id="shoppinglist">

     <li class="shoppinglistitem">
       <label>Meats</label>
       <span class="expand">+</span>
       <ul class="fooditemlist">
         <li class="fooditem">
           <label>Chicken Filets</label>
           <span class="additem">add to basket &gt;</span>
         </li>
       </ul>
     </li>
</section>
