//-----------------------
//colors
//------------------------

$main-color: rgb(150, 129, 93);
$main-heading-color: rgb(230, 230, 230);
$basketcount-color: rgb(36, 56, 83);
$button-color: rgb(212, 211, 176);
$basketcount-text-color: rgb(230, 230, 230);
$footer-color: rgb(34, 34, 34);
$nav-icon-color: rgb(230, 230, 230);
$list-background-color: rgb(210, 209, 188);
$add-button-color: rgb(36, 56, 83);
$add-button-text-color: rgb(230, 230, 230);
$pending-background: rgb(36, 56, 83);
$pending-text-color: rgb(230, 230, 230);
$quantity-color: rgb(187, 168, 134);
$price-color: rgb(50, 50, 50);
$remove-button-color: rgb(138, 2, 2);
$remove-button-text-color: rgb(230, 230, 230);
$expand-icon-color: rgb(187, 168, 134);
$light-button-text: rgb(230, 230, 230);
$dark-button-text: rgb(34, 34, 34);
$light-button-color: rgb(241, 221, 188);
$login-form-background: rgba(0, 0, 0, 0.5);



//-----------------------
//Font Sizes
//------------------------

$main-heading: 1.4rem;
$basketcount-text: 1rem;
$nav-icon-size: 1rem;
$nav-text-size: 0.4rem;
$basketcount-button-text: 0.8rem;
$list-text-size: 0.8rem;
$button-text: 0.5rem;
$basket-item-text: 1rem;
$quantity-text: 1rem;
$total-price-text: 1.3rem;
$expand-icon-size: 2rem;
$food-item-text: 0.8rem;
$order-info-text: 1rem;
$delivery-label-text: 1.2rem;
$radio-label: 0.7rem;
